*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cartSetting{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    padding: 0 1.2rem;

}
/* .carts{
    width: 30%;
    margin: 1% ;
} */
